/* Responsive */

@media screen and (max-width: 860px) {
    .work-us-ways > header + div {
        display: none !important;
    }

    .work-us-ways > header + div + div {
        margin-top: 30px;
        flex-direction: column !important;
        width: 70% !important;
    }

    .work-us-ways > header + div + div > div {
        width: 100%;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 600px) {

    .work-us-ways h2 {
        padding: 0 10px !important;
        font-size: 35px !important;
        line-height: initial !important;
    }

    .work-us-ways > header + div + div {
        width: 90% !important;
    }
}

@media screen and (max-width: 400px) {
    .work-us-ways > header + div + div {
        width: 100% !important;
    }
}
